pipeline/LookUpActivity.json
{
	"name": "LookUpActivity",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Source_input",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileNames",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.prop_0.name",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FileNames": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-08-28T10:00:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}